<style>
  table, th, td {
    border: 1px solid black;
  }
</style>

<label>File location:</label>
<input type="text" ng-model="file" style="width: 800px;" /><br/>
<label>Query:</label>
<input type="text" ng-model="query" style="width: 800px;" />
<button ng-click="sendQuery()">Go</button>
<br />

<div ng-show="initialized">
  <label>Minval:</label><span>{{ minVal }}</span><br/>
  <label>Maxval:</label><span>{{ maxVal }}</span>
</div><br/>

<span>{{ message }}</span>
<br />

<div ng-show="initialized" style="float: left;">
  <span><b>Chromosomes</b></span><br/>
  <table>
    <thead><tr>
      <th>Key</th>
      <th>Id</th>
      <th>Size</th>
    </tr></thead>
    <tr ng-repeat="chr in chromosomes">
      <td>{{ chr.key }}</td>
      <td>{{ chr.chrId }}</td>
      <td>{{ chr.chrSize }}</td>
    </tr>
  </table>
</div>

<div ng-show="success">
  <table>
    <thead><tr>
      <th>Chr</th>
      <th>Start</th>
      <th>End</th>
      <th>Value</th>
    </tr></thead>
    <tr ng-repeat="result in results">
      <td>{{ result.chrName }}</td>
      <td>{{ result.start }}</td>
      <td>{{ result.end }}</td>
      <td>{{ result.value }}</td>
    </tr>
  </table>
</div>